@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-slate-100;
}

input, select {
  @apply bg-slate-900 border border-slate-700 rounded px-3 py-2;
}

button {
  @apply rounded px-3 py-2;
}
